USE [master]
GO
/****** Object:  Database [QuanLyNguyenLieuMonAn]    Script Date: 10/4/2024 2:23:18 PM ******/
CREATE DATABASE [QuanLyNguyenLieuMonAn]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNguyenLieuMonAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNguyenLieuMonAn]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/4/2024 2:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[MaNhanVien] [nvarchar](10) NOT NULL,
	[Password] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/4/2024 2:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 10/4/2024 2:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDon] [nvarchar](14) NOT NULL,
	[MaMonAn] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDon] ASC,
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonNhap]    Script Date: 10/4/2024 2:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonNhap](
	[MaHoaDonNhap] [nvarchar](14) NOT NULL,
	[MaNguyenLieu] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonNhap] ASC,
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 10/4/2024 2:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDon] [nvarchar](14) NOT NULL,
	[NgayTao] [date] NULL,
	[TongTien] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 10/4/2024 2:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[MaHoaDonNhap] [nvarchar](14) NOT NULL,
	[MaNhanVien] [nvarchar](10) NULL,
	[MaNhaCungCap] [nvarchar](10) NULL,
	[NgayNhap] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 10/4/2024 2:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMonAn] [nvarchar](10) NOT NULL,
	[TenMonAn] [nvarchar](40) NULL,
	[CachLam] [ntext] NULL,
	[DonGia] [int] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 10/4/2024 2:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNguyenLieu] [nvarchar](10) NOT NULL,
	[TenNguyenLieu] [nvarchar](30) NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[CongDung] [ntext] NULL,
	[YeuCau] [nvarchar](200) NULL,
	[ChongChiDinh] [nvarchar](200) NULL,
	[Soluong] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieuMonAn]    Script Date: 10/4/2024 2:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieuMonAn](
	[MaMonAn] [nvarchar](10) NOT NULL,
	[MaNguyenLieu] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC,
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 10/4/2024 2:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [nvarchar](10) NOT NULL,
	[TenNhaCungCap] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/4/2024 2:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](40) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NamSinh] [date] NULL,
	[QueQuan] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [nvarchar](13) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyenTruyCap]    Script Date: 10/4/2024 2:23:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenTruyCap](
	[ChucVu] [nvarchar](2) NOT NULL,
	[Menu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([MaNhanVien], [Password]) VALUES (N'KH20240001', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3')
INSERT [dbo].[Account] ([MaNhanVien], [Password]) VALUES (N'LT20240001', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3')
INSERT [dbo].[Account] ([MaNhanVien], [Password]) VALUES (N'QL20240001', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3')
GO
INSERT [dbo].[Admin] ([AdminId], [Password]) VALUES (N'AD0001', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3')
GO
INSERT [dbo].[ChiTietDonHang] ([MaDon], [MaMonAn], [SoLuong]) VALUES (N'HDB010224001', N'AP0001', 5)
INSERT [dbo].[ChiTietDonHang] ([MaDon], [MaMonAn], [SoLuong]) VALUES (N'HDB010224001', N'AP0002', 2)
INSERT [dbo].[ChiTietDonHang] ([MaDon], [MaMonAn], [SoLuong]) VALUES (N'HDB010224001', N'DS0002', 6)
GO
INSERT [dbo].[ChiTietHoaDonNhap] ([MaHoaDonNhap], [MaNguyenLieu], [SoLuong], [DonGia]) VALUES (N'HDN010224001', N'TH0001', 10, 20000)
INSERT [dbo].[ChiTietHoaDonNhap] ([MaHoaDonNhap], [MaNguyenLieu], [SoLuong], [DonGia]) VALUES (N'HDN010224002', N'RA0002', 40, 6000)
INSERT [dbo].[ChiTietHoaDonNhap] ([MaHoaDonNhap], [MaNguyenLieu], [SoLuong], [DonGia]) VALUES (N'HDN010224004', N'HA0002', 10, 60000)
GO
INSERT [dbo].[DonHang] ([MaDon], [NgayTao], [TongTien], [TrangThai]) VALUES (N'HDB010224001', CAST(N'2024-02-01' AS Date), 150000, N'Đã thanh toán')
INSERT [dbo].[DonHang] ([MaDon], [NgayTao], [TongTien], [TrangThai]) VALUES (N'HDB010224002', CAST(N'2024-02-02' AS Date), 250000, N'Đã thanh toán')
INSERT [dbo].[DonHang] ([MaDon], [NgayTao], [TongTien], [TrangThai]) VALUES (N'HDB010224003', CAST(N'2024-02-03' AS Date), 300000, N'Đã thanh toán')
GO
INSERT [dbo].[HoaDonNhap] ([MaHoaDonNhap], [MaNhanVien], [MaNhaCungCap], [NgayNhap]) VALUES (N'HDN010224001', N'KH20240003', N'NCC_TH0001', CAST(N'2024-02-01' AS Date))
INSERT [dbo].[HoaDonNhap] ([MaHoaDonNhap], [MaNhanVien], [MaNhaCungCap], [NgayNhap]) VALUES (N'HDN010224002', N'KH20230002', N'NCC_RA0002', CAST(N'2024-02-01' AS Date))
INSERT [dbo].[HoaDonNhap] ([MaHoaDonNhap], [MaNhanVien], [MaNhaCungCap], [NgayNhap]) VALUES (N'HDN010224003', N'KH20240004', N'NCC_GA0003', CAST(N'2024-02-01' AS Date))
GO
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [CachLam], [DonGia], [TrangThai]) VALUES (N'AP0001', N'Phở Bò', N'Nấu nước dùng', 35000, 1)
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [CachLam], [DonGia], [TrangThai]) VALUES (N'AP0002', N'Bún Chả', N'Nướng thịt, làm nước mắm', 40000, 1)
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [CachLam], [DonGia], [TrangThai]) VALUES (N'AP0003', N'Mì Quảng', N'Nấu mì', 35000, 1)
GO
INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [TenNguyenLieu], [DonViTinh], [CongDung], [YeuCau], [ChongChiDinh], [Soluong]) VALUES (N'DA0001', N'Đồ Khô', N'Kg', N'Làm Mì Quảng', N'Tươi', N'Không', CAST(120.00 AS Decimal(18, 2)))
INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [TenNguyenLieu], [DonViTinh], [CongDung], [YeuCau], [ChongChiDinh], [Soluong]) VALUES (N'DA0002', N'Bột Mì', N'Kg', N'Làm Bánh', N'Tươi', N'Không', CAST(75.00 AS Decimal(18, 2)))
INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [TenNguyenLieu], [DonViTinh], [CongDung], [YeuCau], [ChongChiDinh], [Soluong]) VALUES (N'DA0003', N'Mì Chính', N'Kg', N'Làm Món Ăn', N'Tươi', N'Không', CAST(110.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[NguyenLieuMonAn] ([MaMonAn], [MaNguyenLieu], [SoLuong]) VALUES (N'AP0001', N'TH0001', 2)
INSERT [dbo].[NguyenLieuMonAn] ([MaMonAn], [MaNguyenLieu], [SoLuong]) VALUES (N'AP0001', N'TH0002', 1)
INSERT [dbo].[NguyenLieuMonAn] ([MaMonAn], [MaNguyenLieu], [SoLuong]) VALUES (N'AP0002', N'TH0001', 3)
GO
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [DienThoai], [TrangThai]) VALUES (N'NCC_DA0001', N'Công Ty Đồ Khô', N'654 Đường E', N'0922222222', 1);
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [DienThoai], [TrangThai]) VALUES (N'NCC_DA0002', N'Công Ty Đồ Khô Nhập Khẩu', N'468 Đường J', N'0977777777', 1);
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [DienThoai], [TrangThai]) VALUES (N'NCC_DA0003', N'Công Ty Đồ Khô Chất Lượng', N'913 Đường O', N'0923232323', 1);
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NamSinh], [QueQuan], [DiaChi], [DienThoai], [TrangThai]) VALUES (N'KH20230001', N'Lê Thị B', N'Nữ', CAST(N'1992-02-02' AS Date), N'Hải Phòng', N'45 Trần Phú', N'0987654321', N'Đang làm việc');
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NamSinh], [QueQuan], [DiaChi], [DienThoai], [TrangThai]) VALUES (N'KH20230002', N'Phạm Văn E', N'Nam', CAST(N'1988-03-03' AS Date), N'Hải Dương', N'78 Trần Hưng Đạo', N'0933333333', N'Đang làm việc');
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NamSinh], [QueQuan], [DiaChi], [DienThoai], [TrangThai]) VALUES (N'KH20230003', N'Nguyễn Văn H', N'Nam', CAST(N'1990-06-06' AS Date), N'Quảng Trị', N'34 Hai Bà Trưng', N'0955555555', N'Đang làm việc');
GO
INSERT [dbo].[QuyenTruyCap] ([ChucVu], [Menu]) VALUES (N'LT', N'pnlOrderList')
INSERT [dbo].[QuyenTruyCap] ([ChucVu], [Menu]) VALUES (N'KH', N'pnlImport')
INSERT [dbo].[QuyenTruyCap] ([ChucVu], [Menu]) VALUES (N'KH', N'pnlEditInformation')
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDon])
REFERENCES [dbo].[DonHang] ([MaDon])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[MonAn] ([MaMonAn])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaHoaDonNhap])
REFERENCES [dbo].[HoaDonNhap] ([MaHoaDonNhap])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[NguyenLieuMonAn]  WITH CHECK ADD FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[MonAn] ([MaMonAn])
GO
ALTER TABLE [dbo].[NguyenLieuMonAn]  WITH CHECK ADD FOREIGN KEY([MaNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([MaNguyenLieu])
GO
USE [master]
GO
